target/
*.iml
/.idea/
./idea/workspace.xml
.idea/workspace.xml
.idea/misc.xml
dynamicFile
plotter/VaOutputFile
plotter/noiseVariationDataset/outputFile3Noise
staticFile
plotter/.idea
plotter/.idea/inspectionProfiles
plotter/.idea/misc.xml
plotter/.idea/modules.xml
plotter/.idea/plotter.iml
plotter/.idea/vcs.xml
plotter/noiseoverVaMean
plotter/noiseVariationDataset
plotter/densityVariationDataset
Output
/out/*
*/*.class
/resources/*

